@tailwind base;
@tailwind components;
@tailwind utilities;

.character-sheet-background {
    background-image: url('/images/char-sheet.jpg');
    background-size: 1241px 1583px;
    width: 1241px;
    height: 1583px;
}

#stats > input {
    position: absolute;
    display: block;
}

#stats-str {
    margin-top: 400px;
    margin-left: 111px;
}

#stats-dex {
    margin-top: 513px;
    margin-left: 111px;
}

#stats-con {
    margin-top: 625px;
    margin-left: 111px;
}

#stats-int {
    margin-top: 739px;
    margin-left: 111px;
}

#stats-wis {
    margin-top: 853px;
    margin-left: 111px;
}

#stats-cha {
    margin-top: 967px;
    margin-left: 111px;
}

#modifiers > div {
    position: absolute;
}

#modifiers-str {
    margin-top: 358px;
    margin-left: 129px;
}

#modifiers-dex {
    margin-top: 472px;
    margin-left: 129px;
}

#modifiers-con {
    margin-top: 585px;
    margin-left: 129px;
}

#modifiers-int {
    margin-top: 698px;
    margin-left: 129px;
}

#modifiers-wis {
    margin-top: 812px;
    margin-left: 129px;
}

#modifiers-cha {
    margin-top: 927px;
    margin-left: 129px;
}

/* Begin skills block */
.skills {
    position: absolute;
    margin-top: 350px;
    margin-left: 205px;
    height: 685px;
    width: 155px;
}

.skills #skill-profs {
    position: relative;
}

.skills #skill-profs div {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 11px;
}

.skills #skill-profs .str-skill-profs {
    margin-top: 12px;
}

.skills #skill-profs .dex-skill-profs {
    margin-top: 125px;
}

.skills #skill-profs .con-skill-profs {
    margin-top: 237px;
}

.skills #skill-profs .int-skill-profs {
    margin-top: 352px;
}

.skills #skill-profs .wis-skill-profs {
    margin-top: 465px;
}

.skills #skill-profs .cha-skill-profs {
    margin-top: 580px;
}