@tailwind base;
@tailwind components;
@tailwind utilities;

.character-sheet-background {
    background-image: url('/images/char-sheet.jpg');
    background-size: 1241px 1583px;
    width: 1241px;
    height: 1583px;
}